body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #eef1f6, #f7f9fc);
  font-family: "Inter", Arial, sans-serif;
}

/* card */
.player {
  width: 360px;
  background: #fff;
  padding: 35px 30px;
  border-radius: 22px;
  text-align: center;
  box-shadow: 0 30px 60px rgba(0,0,0,.15);
  position:fixed;
}

/* title */
.title {
  margin-bottom: 4px;
  font-size: 22px;
  color: #222;
}

.artist {
  font-size: 14px;
  color: #8c7cff;
  margin-bottom: 25px;
}

/* progress */
.progress-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #888;
}

.progress {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #1db954, #1ed760);
  border-radius: 10px;
  transition: width 0.1s linear;
}

.progress-bar::after {
  content: "";
  position: absolute;
  right: inherit;
  top: 50%;
  width: 14px;
  height: 14px;
  background: #1db954;
  border-radius: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  transition: 0.2s;
}

.progress:hover .progress-bar::after {
  opacity: 1;
}

/* controls */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 35px 0;
}

.icon-btn {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
}

/* play */
.play-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  background: #7a6cff;
  color: white;
  font-size: 26px;
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(122,108,255,.5);
  transition: transform .2s;
}

.play-btn:hover {
  transform: scale(1.1);
}

/* volume */
.volume {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.volume input {
  flex: 1;
}
